{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <div style="float: right; border: 1px solid #ccc; padding: 1.2em 2.4em 1.6em 2em; margin-top: 2em;">
        <h4>External Links</h4>
        <ul>
            <li><a href="{{ .Params.url_website }}">Website</a></li>
            <li><a href="{{ .Params.url_github }}">Github</a></li>
            <li><a href="{{ .Params.url_documentation }}">Documentation</a></li>
            <li><a href="{{ .Params.url_publication }}">Publication</a></li>
        </ul>
        </div>
        <h1 style="font-size: 1.4em">{{ .Title }}</h1>
        <p><a href="/{{ .Section }}">&larr; Back to {{ .Section }}s</a></p>
        {{ .Content }}
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
