  <div class="section-footer">
    <div class="section-footer-container w-container">
        <div class="footer-logos">
            <div class="footer-logo"><a href="http://essenceofescience.se"><img src="/img/logo_essence.png"></a></div>
            <div class="footer-logo"><a href="http://www.e-science.se"><img src="/img/logo_serc.png"></a></div>
            <div class="footer-logo"><a href="http://vinnova.se"><img src="/img/logo_vinnova.png"></a></div>
            <div class="footer-logo"><a href="https://ec.europa.eu/programmes/horizon2020/"><img src="/img/logo_h2020.png"></a></div>
        </div>
        <!-- div class="footer-text">
            <p>Copyright &copy; Pharmaceutical Bioinformatics group at Uppsala University
                | <a href="http://farmbio.uu.se/forskning/researchgroups/pb/Data-intensive/">Page at Uppsala University</a>
                | <a href="http://github.com/pharmbio">Github</a>
                | <a href="http://hub.docker.com/farmbio">Docker Hub</a>
            </p>
        </div -->
    </div>
  </div>
