  <div class="section-footer">
    <div class="section-footer-container w-container">
        <!-- div class="footer-logos">
            <div class="footer-logo"><a href="http://essenceofescience.se" target="_blank"><img src="/img/logo_essence.png"></a></div>
            <div class="footer-logo"><a href="http://www.e-science.se" target="_blank"><img src="/img/logo_serc.png"></a></div>
            <div class="footer-logo"><a href="http://vinnova.se" target="_blank"><img src="/img/logo_vinnova.png"></a></div>
            <div class="footer-logo"><a href="https://ec.europa.eu/programmes/horizon2020/" target="_blank"><img src="/img/logo_h2020.png"></a></div>
        </div -->
        <div class="footer-text">
            <p>
            <strong>Pharmaceutical Bioinformatics Research Group</strong><br>
            Department of Pharmaceutical Biosciences<br>
            Uppsala University, Sweden<br>
            GitHub: <a href="https://github.com/pharmbio">github.com/pharmbio</a>
            </p>
        </div>
    </div>
  </div>
