  <div class="section-footer">
    <div class="section-footer-container w-container">
        <div class="footer-text">
            <p>Copyright &copy; Pharmaceutical Bioinformatics group at Uppsala University</p>
            <p>Find us elsewhere on the web:</p>
            <ul>
                <li><a href="http://farmbio.uu.se/forskning/researchgroups/pb/Data-intensive/">Uppsala University</a></li>
                <li><a href="http://github.com/pharmbio">Github</a></li>
                <li><a href="http://hub.docker.com/farmbio">Docker Hub</li>
            </ul>
        </div>
    </div>
  </div>
