{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <h1 style="font-size: 1.4em">{{ .Title }}</h1>
        <p><a href="/{{ .Section }}">&larr; Back to {{ .Section }}s</a></p>
        <div class="tool-links">
            <h3 style="font-size: 1.1em; margin: 0.2em 0;">External Links</h2>
            <ul>
                <li><a href="{{ .Params.url_website }}" target="_blank">Website</a></li>
                <li><a href="{{ .Params.url_github }}" target="_blank">Github</a></li>
                <li><a href="{{ .Params.url_documentation }}" target="_blank">Documentation</a></li>
                <li><a href="{{ .Params.url_publication }}" target="_blank">Publication</a></li>
            </ul>
        </div>
        {{ .Content }}
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
