{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        {{ range where .Data.Pages "Title" "Home" }}
            {{ .Content }}
        {{ end }}
        {{ range (sort (where .Data.Pages "Type" "blog") "Date" "desc") }}
            <h1><a href="{{ .RelPermalink }}" class="blog-link">{{ .Title }}</a></h1>
            <p>{{ dateFormat "2 Jan, 2006" .Date }}</p>
            {{ htmlUnescape (substr (plainify .Content) 0 240) }} ...
            <div style="width: 100%"><a href="{{ .RelPermalink }}" style="float: right">Read more &raquo;</a></div>
        {{ end }}
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
