{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <h1 style="font-size: 1.4em">{{ .Title }}</h1>
        <p><a href="/{{ .Section }}">&larr; Back to {{ .Section }}s</a></p>

        <p>Published: {{ .Date.Format "2006-01-02" }}</p>

        <h4>Formatted citation</h4>
        <p>
            {{ .Params.author }}.
            <a href="http://dx.doi.org/{{ .Params.doi }}" target="_blank">{{ .Title }}</a>.
            {{ if and .Params.journal (not (eq .Params.journal "")) }}<br><em>{{ .Params.journal }}</em>.{{ end }}
            {{ if and .Params.volume (not (eq .Params.volume "")) }}<strong>{{ .Params.volume }}</strong>{{ end }}{{ if and .Params.number (not (eq .Params.number "")) }}, {{ .Params.number }}{{ end }}{{ if and .Params.pages (not (eq .Params.pages "")) }}, {{ .Params.pages }}.{{ end }} ({{ .Date.Format "2006" }}).
            {{ if and .Params.doi (not (eq .Params.doi "")) }}DOI: <a href="http://dx.doi.org/{{ .Params.doi }}" target="_blank">{{ .Params.doi }}</a>{{ end }}
        </p>
        <h4>Abstract</h4>
        <p>{{ .Params.abstract }}</p>

        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
