{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <p><a href="/{{ .Section }}">&larr; Back to {{ .Section }}</a></p>
        <div style="padding: .4em 1em 1em 1em; margin: 1em; max-width: 600px; border: 1px solid #ccc;">
        <h1 style="font-size: 1.4em; margin-top: 0; padding-top: 0;">{{ .Params.firstname }} {{ .Params.initials }} {{ .Params.lastname }}, {{ .Params.job_title }}</h1>
        {{ if .Params.photo_file }}
            <img src="/img/{{ .Params.photo_file }}" style="border: 1px solid #ccc; margin: .2em 1em 1em .2em; display: block; clear: right;" />
        {{ end }}
        {{ if .Params.long_bio }}
            <h6>About</h6>
            {{ .Params.long_bio }}
        {{ end }}
        <h6>Contact info</h6>
        <ul class="people-single-linklist">
            {{ if .Params.email }}<li><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></li>{{ end }}
            {{ if .Params.url_uuprofile }}<li><a href="{{ .Params.url_uuprofile }}" target="_blank">Staff page at Uppsala University</a></li>{{ end }}
        </ul>
        <h6>Social media</h6>
        <ul class="people-single-linklist">
            {{ if .Params.twitter }}<li><a href="http://twitter.com/{{ .Params.twitter }}" target="_blank">Twitter (@{{ .Params.twitter }})</a></li>{{ end }}
            {{ if .Params.url_linkedin }}<li><a href="{{ .Params.url_linkedin }}" target="_blank">LinkedIn</a></li>{{ end }}
            {{ if .Params.url_blog }}<li><a href="{{ .Params.url_blog }}" target="_blank">Blog ({{ replace .Params.url_blog "http://" ""}})</a></li>{{ end }}
            {{ if .Params.url_homepage }}<li><strong>Website:</strong> <a href="{{ .Params.url_homepage }}" target="_blank">Personal Website</a></li>{{ end }}
        </ul>
        <h6>Research network links</h6>
        <ul class="people-single-linklist">
            {{ if .Params.orcid }}<li><a href="http://orcid.org/{{ .Params.orcid }}" target="_blank">ORCID Profile ({{ .Params.orcid }})</a></li>
                <li><a href="http://feed.labs.orcid-eu.org/{{ .Params.orcid }}.bib" target="_blank">Download publication list in BibTex format</a></li>
                <li><a href="http://impactstory.org/u/{{ .Params.orcid }}" target="_blank">ImpactStory profile</a></li>{{ end }}
            {{ if .Params.url_google_scholar }}<li><a href="{{ .Params.url_google_scholar }}" target="_blank">Google Scholar</a></li>{{ end }}
            {{ if .Params.url_researchgate }}<li><a href="{{ .Params.url_researchgate }}" target="_blank">ResearchGate</a></li>{{ end }}
            {{ if .Params.url_mendeley }}<li><a href="{{ .Params.url_mendeley }}" target="_blank">Mendeley</a></li>{{ end }}
        </ul>
        </div>
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
