{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <h1 style="font-size: 1.4em">{{ .Params.firstname }} {{ .Params.initials }} {{ .Params.lastname }}, {{ .Params.job_title }}</h1>
        <p><a href="/{{ .Section }}">&larr; Back to {{ .Section }}</a></p>
        {{ if .Params.photo_file }}<div><img src="/static/img/{{ .Params.photo_file }}" /></div>{{ end }}
        <ul>
            {{ if .Params.twitter }}<li><strong>Twitter:</strong> <a href="http://twitter.com/{{ .Params.twitter }}">{{ .Params.twitter }}</a></li>{{ end }}
            {{ if .Params.email }}<li><strong>E-mail:</strong> <a href="http://email.com/{{ .Params.email }}">{{ .Params.email }}</a></li>{{ end }}
            {{ if .Params.orcid }}<li><strong>ORCID:</strong> <a href="http://orcid.com/{{ .Params.orcid }}">{{ .Params.orcid }}</a></li>{{ end }}
            {{ if .Params.orcid }}<li><a href="http://impactstory.org/u/{{ .Params.orcid }}">ImpactStory</a></li>{{ end }}
            {{ if .Params.url_blog }}<li><strong>Blog:</strong> <a href="http://url_blog.com/{{ .Params.url_blog }}">{{ .Params.url_blog }}</a></li>{{ end }}
            {{ if .Params.url_homepage }}<li><strong>Homepage:</strong> <a href="http://url_homepage.com/{{ .Params.url_homepage }}">{{ .Params.url_homepage }}</a></li>{{ end }}
            {{ if .Params.url_google_scholar }}<li><a href="http://url_google_scholar.com/{{ .Params.url_google_scholar }}">Google Scholar</a></li>{{ end }}
            {{ if .Params.url_linkedin }}<li><a href="http://url_linkedin.com/{{ .Params.url_linkedin }}">LinkedIn</a></li>{{ end }}
            {{ if .Params.url_researchgate }}<li><a href="http://url_researchgate.com/{{ .Params.url_researchgate }}">ResearchGate</a></li>{{ end }}
            {{ if .Params.url_mendeley }}<li><a href="http://url_mendeley.com/{{ .Params.url_mendeley }}">Mendeley</a></li>{{ end }}
        </ul>
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
