h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.6em;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.3em;
  line-height: 30px;
  font-weight: 700;
}

.section-header {
  border-style: none none solid;
  border-width: 1px;
  border-color: #ccc #ccc #ccc #000;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.site-title {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #aaa;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1px;
}

.section-header-container {
  padding-left: 12px;
}

.section-footer {
  min-height: 320px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #777;
}

.section-content {
  min-height: 480px;
  line-height: 1.3em;
}

.section-content-container,
.grid .content {
  padding: 0.7em 0.4em 1.4em;
}

.rightcol {
    padding-top: 1em;
}

.normal-text {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.63em;
}

.logo-span-pipe {
  color: #c00;
}

.section-footer-container {
  min-height: 320px;
  padding: 0.7em 0.4em 1.4em;
}

.body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  font-size: 1em;
  line-height: 1.3em;
}

.navbar-brand {
  margin-top: 0.2em;
  /* margin-left: -6px; */
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar {
  background-color: transparent;
}

.navbar-link {
  padding: 2em 24px 1.6em;
  border-bottom: 4px solid transparent;
  border-top-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #888;
  font-size: 16px;
}

.navbar-link:hover {
  border-bottom-width: 4px;
  border-bottom-color: #c00;
  color: #c00;
}

.scipipe-animation {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, .45);
}

.welcome-text {
  font-weight: 400;
}

.navbar-logo {
  width: 76px;
  margin-right: 8px;
  float: left;
}

@media (max-width: 991px) {
  .navbar-link,
  .navbar-link:link,
  .navbar-link:visited,
  .navbar-link:active {
    border-top: 1px none #000;
    border-bottom: 1px none #000;
    background-color: #999;
    color: #fff;
  }
  .navbar-link:hover {
    border-top: 1px none #000;
    border-bottom: 1px none #000;
    background-color: #fff;
    color: #c00;
  }
  .navbar-menu {
    margin-right: -1em;
  }
  .navbar-menubutton {
    margin-right: -1em;
    padding: 1.4em;
  }
  .navbar-menubutton.w--open {
    background-color: #999;
  }
}

@media (max-width: 767px) {
  .navbar-link {
    background-color: #999;
    color: #fff;
  }
  .navbar-link:hover {
    background-color: #fff;
  }
  .navbar-menubutton {
    margin-right: 0em;
  }
  .navbar-menubutton.w--open {
    background-color: #999;
    color: #fff;
  }
}

@media (max-width: 479px) {
  .site-title {
    font-size: 32px;
  }
  .navbar-link {
    background-color: #999;
    color: #fff;
  }
  .navbar-menubutton.w--open {
    background-color: #999;
  }
}

/* ======= MANUAL ADDITIONS START HERE ======= */

body { color: #333; }
h1, h2, h3, h4, h5, h6 { color: #666; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

/* Links */

a,
a:link,
a:active,
a:hover,
a:visited {
  color: #c00;
  text-decoration: none;
}
a.w-nav-link.w--current,
a.navbar-link:active {
  color: #000;
}
@media (max-width: 991px) {
    a.w-nav-link.w--current,
    a.navbar-link:active {
      color: #ff0;
    }
}
a:hover {
  color: #900;
}
a.navbar-link {
  padding-left: 20px;
  padding-right: 20px;
}
.section-header-container {
  padding-left: 1em;
}
.section-content-container {
  padding-left: 1em;
  padding-right: 1em;
}
.section-footer a,
.section-footer a:link,
.section-footer a:visited {
    color: #777;
}
.section-footer a:hover {
    color: black;
}
/* Content styles */
.people-single-linklist {
  margin: .7em 0 0 0;
  padding: 0 0 0 .4em;
  list-style-type: none;
}
.people-single-linklist li:before {
  content: "»";
  font-size: .9em;
  padding-right: .7em;
  color: #999;
}


.footer-text {
  clear: both;
  margin-top: 0.4em;
  font-size: 1.1em;
  color: #aaa;
}
.footer-text,
.footer-text a,
.footer-text a:link,
.footer-text a:active,
.footer-text a:visited {
  color: #aaa;
}
.footer-logos {
  clear: both;
  width: 100%;
}
.footer-logo {
  color: #aaa;
  float: left;
  margin: 1em 3em 1em 3em;
  opacity: .3;
  margin-bottom: 3.2em;
}
.footer-logo img {
  height: 60px;
}
.footer-logo:hover {
  opacity: .5;
}

.navbar-uulogo-link {
  display: block;
  float: right;
  margin: 8px 0 0 22px;
}
@media (max-width: 479px) {
  .navbar-uulogo-link {
    display: none;
  }
}
.tool-infobox {
  float: right;
  border: 1px solid #ccc;
  padding: 1.2em 3.2em 1.6em 2em;
  margin: 2em 0 1em .4em;
}

/* Smaller logo */

.site-title {
  font-size: 32px;
}
.navbar-logo {
  width: 56px;
  margin-top: 6px;
}
a.blog-link {
  color: #777;
}
a.blog-link:hover {
  color: #c00;
}

div.social-sharing-buttons {
    margin: 2em 0 2em 0;
}
a.twitter-share-button {
    margin-right: 1em!important;
}
.section-content-container img {
    margin: 1em 2em 1em 0;
}

/* Posters */
.rightcol .poster {
    padding: 1em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}
.rightcol .poster .title {
    font-size: .8em;
}
.rightcol .poster .venue {
    display: block;
    font-size: .7em;
}
.rightcol .poster .date {
    white-space: nowrap;
}
.rightcol .poster a.doi:link,
.rightcol .poster a.doi:visited,
.rightcol .poster a.doi:active,
.rightcol .poster a.doi {
    color: #aaa;
    font-size: .7em;
}
.rightcol .poster a.doi:hover {
    color: #c66;
}
.rightcol .poster img {
    float: left;
    height: 120px;
    margin-right: 1em;
    border: 1px solid #e9e9e9;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
