{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart_2cols.html" . }}
        <div class="w-container" style="padding-top: 1em;">

            <!-------------------------------------------------------------------------------->

            <div class="col-2-3">
            {{ range (sort (where .Data.Pages "Type" "blog") "Date" "desc") }}
                <div class="card blog-item">
                    {{ if .Params.teaser_image }}
                    <div class="card-img">
                        <img src="{{ .Params.teaser_image }}">
                    </div>
                    <div class="card-text">
                    {{ end }}
                        <p><a href="{{ .RelPermalink }}" class="blog-link">{{ .Title }}</a></p>
                        <p><span class="date">{{ dateFormat "2 Jan, 2006" .Date }}</span>. {{ htmlUnescape (substr (plainify .Content) 0 240) }} ...</p>
                        <div style="auto">
                            <a href="{{ .RelPermalink }}" style="float: right">Read more &raquo;</a>
                        </div>
                    {{ if .Params.teaser_image }}
                    </div>
                    {{ end }}
                    <div class="clearfix"></div>
                </div>
            {{ end }}
            </div>

            <!-------------------------------------------------------------------------------->

            <div class="col-1-3 blog-feed" style="padding-top: 1em;">
                {{ range where .Data.Pages "Title" "Right Column" }}
                    {{ .Content }}
                {{ end }}
            </div>

            <!-------------------------------------------------------------------------------->

        </div>
        {{ partial "bodyend_2cols.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
