{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <h1>People</h1>

        <img src="/img/gruppfoto2021.jpg">
        <div style="margin: -.6em 0 0 0; font-size: .9em;">Group photo taken at
            Gimo Herrgård in November 2021. From left to right in the back: Ola Spjuth, David Holmberg, Xinyi Dai, Phil Harrison, Ebba Bergman, Akshai Parakkal Sreenivasan, Amelie Wenz, Maris Lapins, Polina Georgiev, Henry Wittler, Dan Rosén and in the front: Jonathan Alvarsson, Christa Ringers, Jonne Rietdijk, Maria Deligianni, Jordi Carreras Puigvert, Andreina Francisco, and Laura Lang<br>(Photographer: Jonathan Alvarsson).
        </div>

        <h2>Current group members</h2>

        <p>Click an individual's name to view more details.</p>

        <div class="grid">
        {{ range .Data.Pages }}
            {{ if and (not .Params.end_year) (not .Params.associated) }}
            <div class="card card-1-3 card-people">
                <div class="card-img">
                    <a href="{{ .RelPermalink }}"><img src="/img/{{ .Params.photo_file }}"></a>
                </div>
                <div class="card-text">
                    <span class="name">
                        <a href="{{ .RelPermalink }}">{{ .Params.firstname }} {{ .Params.initials }} {{ .Params.lastname }}</a>
                    </span>
                    <br>
                    <span class="job-title">{{ .Params.job_title }}</span>
                    <br>
                    <span class="email"><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></span>

                    {{ if .Params.orcid }}
                    <br>
                    <span class="orcid">ORCID: <a href="http://orcid.org/{{ .Params.orcid }}" target="_blank">{{ .Params.orcid }}</a></span>
                    {{ end }}

                </div>
                <div class="morelink-wrapper"><a href="{{ .RelPermalink }}" class="morelink">More info &raquo;</a></div>
            </div>
            {{ end }}
        {{ end }}
        </div>
        
        <h2>Associated group members</h2>

        <p>Click an individual's name to view more details.</p>

        <div class="grid">
        {{ range .Data.Pages }}
            {{ if .Params.associated }}
            <div class="card card-1-3 card-people">
                <div class="card-img">
                    <a href="{{ .RelPermalink }}"><img src="/img/{{ .Params.photo_file }}"></a>
                </div>
                <div class="card-text">
                    <span class="name">
                        <a href="{{ .RelPermalink }}">{{ .Params.firstname }} {{ .Params.initials }} {{ .Params.lastname }}</a>
                    </span>
                    <br>
                    <span class="job-title">{{ .Params.job_title }} </span>

                    {{ if .Params.affiliation }}
                    <br>
                    <span class="job-title">{{ .Params.affiliation }} </span>
                    {{ end }}

                    <br>
                    <span class="email"><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></span>

                    {{ if .Params.orcid }}
                    <br>
                    <span class="orcid">ORCID: <a href="http://orcid.org/{{ .Params.orcid }}" target="_blank">{{ .Params.orcid }}</a></span>
                    {{ end }}

                </div>
                <div class="morelink-wrapper"><a href="{{ .RelPermalink }}" class="morelink">More info &raquo;</a></div>
            </div>
            {{ end }}
        {{ end }}
        </div>

        <h2>Previous group members</h2>

        <p>Click an individual's name to view more details.</p>

        <div class="grid">
        {{ range .Data.Pages }}
            {{ if .Params.end_year }}
            <div class="card card-1-3 card-people">
                <div class="card-img">
                    <a href="{{ .RelPermalink }}"><img src="/img/{{ .Params.photo_file }}"></a>
                </div>
                <div class="card-text">
                    <span class="name">
                        <a href="{{ .RelPermalink }}">{{ .Params.firstname }} {{ .Params.initials }} {{ .Params.lastname }}</a>
                    </span>
                    <br>
                    <span class="job-title">{{ .Params.job_title }} ({{ .Params.start_year }}-{{ .Params.end_year }})</span>
                    <br>
                    <span class="email"><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></span>

                    {{ if .Params.orcid }}
                    <br>
                    <span class="orcid">ORCID: <a href="http://orcid.org/{{ .Params.orcid }}" target="_blank">{{ .Params.orcid }}</a></span>
                    {{ end }}

                </div>
                <div class="morelink-wrapper"><a href="{{ .RelPermalink }}" class="morelink">More info &raquo;</a></div>
            </div>
            {{ end }}
        {{ end }}
        </div>

        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
