{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
                    <div class="content main-content">
                        <h3>Presentations</h3>
                        <p><a href="/publication">&larr; Back to Publications</a></p>
                        {{ range (sort ( where .Site.Pages "Type" "presentation" ) .Params.date "desc") }}
                        <div class="card pres">
                            <a href="{{ .RelPermalink }}">
                                <img src="http://img.youtube.com/vi/{{ .Params.youtube_id }}/mqdefault.jpg" style="margin-bottom:.4em;width:180px;">
                                <div class="title">{{ .Title }}</div>
                            </a>
                            <div class="author">{{ delimit .Params.author ", " " and " }}</div>
                            <div class="venue">
                                {{ .Params.venue }}
                            </div>
                            <div class="date">{{ .Date.Format "2 Jan 2006" }}</div>
                            <div class="doi"><a href="http://dx.doi.org/{{ .Params.doi }}" target="_blank">{{ .Params.doi }}</a></div>
                            <div class="clearfix"></div>
                        </div>
                        {{ end }}
                    </div>
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
