{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart_2cols.html" . }}
        <div class="w-container">
            <div class="grid">
                <!-------------------------------------------------------------------------------->
                <!-- START: LEFT COLUMN -->

                <div class="col-2-3">
                    <div class="content">
                        <h1>Publications</h1>
                        {{ range .Data.Pages.GroupByDate "2006" }}
                            <h2>{{ .Key }}</h2>
                            <ul style="list-style: none; padding-left: 0;">
                            {{ range sort .Pages "Params.year" "desc" }}
                            <li style="margin-bottom: 1em">{{ .Params.author }}
                                <br><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                {{ if and .Params.journal (not (eq .Params.journal "")) }}<br><em>{{ .Params.journal }}</em>.{{ end}}
                                {{ if and .Params.volume (not (eq .Params.volume "")) }}<strong>{{ .Params.volume }}</strong>{{ end }}{{ if and .Params.number (not (eq .Params.number "")) }}, {{ .Params.number }}{{ end }}{{ if and .Params.pages (not (eq .Params.pages "")) }}, {{ .Params.pages }}.{{ end }} ({{ .Date.Format "2006" }}).
                                {{ if and .Params.doi (not (eq .Params.doi "")) }}DOI: <a href="http://dx.doi.org/{{ .Params.doi }}" target="_blank">{{ .Params.doi }}</a>{{ end }}
                                </li>
                            {{ end }}
                            </ul>
                        {{ end }}
                    </div>
                </div>

                <!-- END: LEFT COLUMN -->
                <!-------------------------------------------------------------------------------->
                <!-- START: RIGHT COLUMN -->

                <div class="col-1-3 rightcol">
                        <h3>Posters</h3>
                        {{ range first 5 (sort ( where .Site.Pages "Type" "poster" ) .Params.date "desc") }}
                        <div class="card poster">
                            <a href="{{ .RelPermalink }}">
                                <img src="/img/{{ .Params.poster_image }}">
                                <div class="title">{{ .Title }}</div>
                            </a>
                            <div class="venue">{{ .Params.venue }}, {{ .Params.city }}. <span class="date">{{ .Date.Format "Jan 2006" }}</span></div>
                            <div class="clearfix"></div>
                        </div>
                        {{ end }}
                        <div style="width=100%"><a href="/poster/" style="float:right">More posters &raquo;</a></div>

                        <h3>Presentations</h3>
                        {{ range first 5 (sort ( where .Site.Pages "Type" "presentation" ) .Params.date "desc") }}
                        <div class="card pres">
                            <a href="{{ .RelPermalink }}">
                                <img src="http://img.youtube.com/vi/{{ .Params.youtube_id }}/default.jpg" style="margin-bottom:.4em;">
                                <div class="title">{{ .Title }}</div>
                            </a>
                            <div class="venue">{{ .Params.venue }}, {{ .Params.city }}. <span class="date">{{ .Date.Format "Jan 2006" }}</span></div>
                            <div class="clearfix"></div>
                        </div>
                        {{ end }}
                        <div style="width=100%"><a href="/presentation/" style="float:right">More presentations &raquo;</a></div>
                </div>

                <!-- END: RIGHT COLUMN -->
                <!-------------------------------------------------------------------------------->

            </div>
        </div>
        {{ partial "bodyend_2cols.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
