{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <h1>Publications</h1>
        {{ range .Data.Pages.GroupByDate "2006" }}
            <h2>{{ .Key }}</h2>
            <ul>
            {{ range sort .Pages "Params.year" "desc" }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Date.Format "2 Jan" }})</li>
            {{ end }}
            </ul>
        {{ end }}
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
