{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <h1>Publications</h1>
        <ul>
        {{ range .Data.Pages.GroupByDate "2006" }}
            <h2>{{ .Key }}</h2>
            {{ range sort .Pages "Params.year" "desc" }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Params.year }})</li>
            {{ end }}
        {{ end }}
        </ul>
        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
