{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart.html" . }}
        <h1>Tools and Services developed in the group</h1>

        <div class="grid">

        {{ range (sort .Data.Pages "Title" "asc") }}
        <div class="card card-1-3 card-tool">
            <p style="font-size: 1.2em"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            <p>{{ .Params.description }}</p>
        </div>
        {{ end }}

        </div>

        {{ partial "bodyend.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
